<html lang="en">
<body>
<script src="https://unpkg.com/vue@next"></script>

<div id="app" >
   <div @keyup.esc="resetVotes">
     <h1>Election</h1>

     <h2>Add candidate</h2>

     <form @submit.prevent="addCandidate">
       <p>
         Name: <input type="text" v-model="form.name">
       </p>

       <p>
         Initial votes: <input type="text" v-model="form.votes">
       </p>

       <p>
         <button>Add</button>
       </p>
     </form>

     <hr>

     <h2>Results</h2>

     <h3>Our mayor is {{ mayor}}</h3>

     <div v-for="candidate in orderedCandidates" style="padding:10px;">
       <strong>{{ candidate.name }}</strong> {{ candidate.votes}} <button @click="vote(candidate)">Vote</button>
     </div>
   </div>
</div>

<script>
  Vue.createApp({
    data(){
      return {
        form: {
          name: '',
          votes: 0,
        },
        candidates: [
          {name: "Violet", votes: 0},
          {name: "Dash", votes: 0},
          {name: "Jack Jack", votes: 0},
          {name: "Elastigirl", votes: 0},
          {name: "Mr. Incredible", votes: 0}
        ],
      }
    },
    computed:{
      orderedCandidates(){
        return this.candidates.sort((a,b) => b.votes - a.votes)
      },
      mayor(){
        return this.orderedCandidates[0].name
      }
    },
    methods:{
      vote(candidate) {
        candidate.votes++
      },
      addCandidate() {
        this.candidates.push(this.form)
      },
      resetVotes(){
        this.candidates.forEach((candidate) => candidate.votes = 0)
      }
    }
  }).mount('#app')
</script>
</body>
</html>